input {
  background-color: #B2E3FF;
  outline: 4px solid #10A2AB;
  margin-top: 0.25rem;
  border-radius: 4px;
  color: #646464;
  @apply py-2 px-3;
}

input:focus{
  outline: 4px solid #10A2AB;
}

.pokeball{
  transform-origin: 50% 100%;
  animation-name: balance;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.pokeball:after{
  content: '';
  display: block;
  width: 20px;
  height: 19px;
  background-color:rgb(208, 20, 20);
  border-radius: 50%;
  outline:1px solid black;
  position: absolute;
  z-index:10;
  top: 47px;
  right: 39px;
  opacity:0.8;
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes parpadeo {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes balance {
  0% { transform: rotateZ(0deg)}
  20% { transform: rotateZ(15deg)}
  40% { transform: rotateZ(-15deg)}
  60% { transform: rotateZ(15deg)}
  80% { transform: rotateZ(-15deg)}
  100% {
    transform: rotateZ(0deg);
  }
}


.error-hint{
  @apply text-[#EFFF8C]
           text-sm
           absolute
           top-[4.5rem]
           mt-1;
}
